html {
  height: 100%;
}

body {
  min-height: 100vh;
}

.container {
  width: 97%;
  background: linear-gradient(150deg, #BDBDBD, #676767);
  padding: 25px 30px;
  border-radius: 5px;
  height: 900px;
  margin-top: 20px;


}
.container .title {
  font-size: 35px;
  font-weight: 500;
  position: relative;
}

.user-details {
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details input {
  width: 99%;
  height: 40px;

}
.user-details label {
  display: flex;
  justify-content: flex-start;


}

.user-details #other {

}

#submit {
  width: 150px;
  height: 50px;
}

hr {
  border: 1px solid #003B6D;
}



select {
  height: 30px;
}

#submit {
  cursor: pointer;

}

#submit:hover {
  background-color: #BDBDBD;
}
