html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 23px;
  font-family: Arial, sans-serif;
  line-height: 30px;
  color: #003B6D;
  min-height: 100vh;
}

.catsFirst {
  text-align: left;
}
.catPics {
  display: flex;
  justify-content: space-between;
  width: 60%
}


