body {
  font-size: 23px;
  font-family: Arial, sans-serif;
  line-height: 30px;
  color: #003B6D;
}

#th-choose {
  font-size: 30px;
}

.dogPics {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

footer {
  text-align: center;
  background-color: #BDBDBD;
  font-size: 23px;
  line-height: 21px;
  padding: 5px 14px;
}

footer p {
  display: block;
  padding: 14px 16px;
  font-weight: bold;
  color: #003B6D;
  margin: 0;
}

/* about-us is an hr */
#about-us {
  border: 1px solid black;
}
