html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 23px;
  font-family: Arial, sans-serif;
  line-height: 30px;
  color: #003B6D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#th-choose {
  font-size: 30px;
}

.dogPics {
  display: flex;
  justify-content: space-between;
  width: 60%;
}



/* about-us is an hr */
#about-us {
  border: 1px solid black;
}
