html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 23px;
  font-family: Arial, sans-serif;
  line-height: 30px;
  color: #003B6D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fishPics {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

